<% provide(:title, "About") %>

<h1>About</h1>
<p>
  This Sample App was created as part of the <a href="https://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a> series created by Michael Hartl
</p>
