<% provide(:title, "Home") %>
#<!DOCTYPE html>
# <html>
#   <head>
#     <title><%= yield(:title) % > | Ruby on Rails Sample App</title>
#     #<title>About | Ruby on Rails Sample App</title>
#   </head>
#   <body>
#     <h1>About</h1>
#     <p>
#       This Sample App was created as part of the <a href="https://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a> series created by Michael Hartl
#     </p>
#   </body>
# </html>
<h1>Home</h1>
<p>
  Home of the newest, greatest, most coolest new app!
</p>

