<% provide(:title, 'Home') % >
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) % > Home | Ruby on Rails Sample App</title>
  </head>
  <body>
    <h1> My Sample App</h1>
    <p>
      Home of the newest, greatest, most coolest app going!
    </p>
  </body>
</html>
